$enable-rounded: false;
$input-placeholder-color: #fff; // #ffc107;
$input-border-width: 0;


// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";


[v-cloak] {
    display:none;
}

.table th {
    border-top: none;
}
